<div class="row">
  <div class="col-md-8">
  <h1><%= @user.name %></h1>
    <ul class="admin">
      <li><%= link_to edit_user_path do %><span class="glyphicon glyphicon-pencil"></span>Edit Profile<% end %></li>
      <li><%= link_to user_path(@user),
                           :data => {:confirm => "Delete profile?",
                                     :method => "delete"} do %><span class="glyphicon glyphicon-trash"></span>Delete Profile<% end %></li>
    </ul>
  </div>
</div>

<div class="donations">
  <h2>Supported Causes</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Cause</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
    <% @user.donations.each do |donation| %>
      <tr>
        <td><%= link_to "#{Cause.find(donation.cause_id).name}", cause_path(Cause.find(donation.cause_id)) %></td>
        <td><%= number_to_currency donation.amount %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

